[filter "lfs"]
	clean = git-lfs clean %f
	required = true
	smudge = git-lfs smudge %f

[ghq]
	root = ~/src
	root = ~/Dropbox/src

[github]
	user = elim

[pager]
	log  = ~/.git.d/bin/diff-pager
	show = ~/.git.d/bin/diff-pager
	diff = ~/.git.d/bin/diff-pager

[tig "bind"]
	generic = g move-first-line
	generic = G move-last-line

[user]
	email = takeru.naito@gmail.com
	name = Takeru Naito
	signingkey = 0A2D3E0E

# ------------------------------

[include]
	path = ~/.git.d/common
	path = ~/.git.d/local

[includeIf "gitdir:~/src/github.com/codetakt/"]
	path = ~/.git.d/codetakt
