[user]
	name = Takeru Naito
	email = takeru.naito@gmail.com
	signingkey = 0A2D3E0E

[include]
	path = ~/.git.d/common
	path = ~/.git.d/local

[tig "bind"]
	generic = g move-first-line
	generic = G move-last-line

[ghq]
	root = ~/src
	root = ~/Dropbox/src

[github]
	user = elim

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[gpg]
	program = gpg2
