! $Id$
! ---- language-env DON'T MODIFY THIS LINE!
!---------------------------------------------------------
! XIM の設定
!---------------------------------------------------------
! XIM サーバーの名前を定義する
#define XIM skkinput
!Kinput2*conversionStartKeys: Shift<Key>space \n\
!	Ctrl<Key>o \n\
!	Ctrl<Key>backslash \n\
!	Alt<Key>Zenkaku_Hankaku
Kinput2*conversionStartKeys: Shift<Key>space
skkinput*conversionStartKey: Shift<Key>space

!---------------------------------------------------------
! emacs の設定
!---------------------------------------------------------
! emacs20 のフォント設定
Emacs.Fontset-0: -*-gothic-medium-r-normal--14-*-*-*-*-*-fontset-14,\
  korean-ksc5601:-*-mincho-medium-r-normal--16-*-*-*-*-*-ksc*-*,\
  chinese-gb2312:-*-fang*-medium-r-normal--16-*-*-*-*-*-gb2312*-*
Emacs.Fontset-1: -*-fixed-medium-r-normal--12-*-*-*-*-*-fontset-12
Emacs.Fontset-2: -*-fixed-medium-r-normal--24-*-*-*-*-*-fontset-24
Emacs.Fontset-3: -*-fixed-medium-r-normal--16-*-*-*-*-*-fontset-16,\
  korean-ksc5601:-*-mincho-medium-r-normal--16-*-*-*-*-*-ksc*-*,\
  chinese-gb2312:-*-fang*-medium-r-normal--16-*-*-*-*-*-gb2312*-*
Emacs.Font: fontset-14

! xemacs21 のフォント設定 (あまりうまく動かないけど)
!XEmacs.default.attributeFont: -*-fixed-medium-r-normal--16-*-*-*-*-*-*-*
XEmacs.default.attributeFont: -shinonome-gothic-medium-r-normal-*-16-*-*-*-c-*-jisx0208.1990-0


! emacs から kinput2 が起動しないように。
Emacs*xnlLanguage: C
! xemacs21 の場合。
XEmacs*xnlLanguage: C
!XEmacs*xnlLanguage: ja_JP.eucJP

!---------------------------------------------------------
! その他のアプリケーション (日本語関連)
!---------------------------------------------------------
*inputMethod: XIM
KTerm*VT100*KanjiMode: euc
KTerm*openIm: true
!KTerm*VT100.Translations: #override\
!	Ctrl<Key>o: begin-conversion(_JAPANESE_CONVERSION)\n\
!	~Meta <Key>BackSpace: string("\177")\n\
!	<Key>Delete: string("\033[3~")\n\
!	<Key>Home: string("\033OH")\n\
!	<Key>End: string("\033OF")
Xedit*international: true
Xedit*fontSet: a14,k14,r14,*
! xterm is UTF-8 mode.
!XTerm*Utf8: 1
! font 0 and font 5 can display Japanese.
! Since iso10646 is a superset of iso8859-1, these fonts can be
! used for non-utf8 mode, too.
 XTerm*Font: -misc-fixed-medium-r-semicondensed--13-*-*-*-*-*-iso10646-1
XTerm*Font2: -misc-fixed-medium-r-normal--8-*-*-*-*-*-iso10646-1
XTerm*Font3: -misc-fixed-medium-r-normal--10-*-*-*-*-*-iso10646-1
XTerm*Font4: -misc-fixed-medium-r-normal--13-*-*-*-*-*-iso10646-1
XTerm*Font5: -misc-fixed-medium-r-normal--18-*-*-*-*-*-iso10646-1
XTerm*Font6: -misc-fixed-medium-r-normal--20-*-*-*-*-*-iso10646-1
! ---- language-env end DON'T MODIFY THIS LINE!
Skkinput*xim.supportedLocales: \
C,en_US-UTF-8,ja_JP.SJIS,ja_JP.EUC,ja_JP,ja_JP.ujis,japanese,japan,ja,ja_JP.eucJP
Skkinput*fontSet: \
-mplus-gothic-medium-r-normal--12-120-75-75-c-60-iso8859-1,\
-mplus-gothic-medium-r-normal--12-120-75-75-c-60-jisx0201.1976-0,\
-mplus-gothic-medium-r-normal--12-120-75-75-c-120-jisx0208.1983-0
